{% extends "base.html" %}

{% block content %}
    <div class="container text-center mt-3" style="background: #ebf5ff;">
        
        <div id="tweets">

        </div>  
    </div>

    <script>
        const listOfTweets = []
        const xhr = new XMLHttpRequest()
        const method = "GET"
        const url = "/tweets"
        const responseType = "json"

        xhr.responseType = responseType
        xhr.open(method, url)
        
        xhr.onload = () => {
            const serverResponse = xhr.response
            const tweets = serverResponse.response
            
            for (const tweet of tweets) {
                const tweetDiv = document.querySelector("#tweets") 

                const tweetCont = document.createElement('div')
                tweetCont.classList.add("py-4", "border-bottom")
                tweetCont.id = `tweet-${tweet.id}`

                const h3Elem = document.createElement('h3')
                h3Elem.textContent = tweet.content

                const likeBtn = document.createElement("button")
                likeBtn.textContent = tweet.likes + " likes"
                likeBtn.classList.add("btn", "btn-primary")

                tweetCont.appendChild(h3Elem)
                tweetDiv.appendChild(tweetCont)
                tweetCont.appendChild(likeBtn)

                likeBtn.addEventListener("click", () => {
                    tweet.likes++
                    likeBtn.textContent = tweet.likes + " likes"
                })
                 
            }
        }
        xhr.send()
        const elem = document.createElement("h3")
        console.log(elem);

    </script>
{% endblock %}