{% extends "base.html" %}

{% block content %}
    <div class="container text-center mt-3" style="background: #ebf5ff;">
        <form action="/create-tweet" method="POST" class="p-5 border-bottom">
            {% csrf_token %}
            <input type="hidden"  name="next" value="/" class="form-control form-control-lg bg-primary"> 
            <input type="textarea" name="content" placeholder="write your tweet here" class="form-control form-control-lg mb-2">
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
        
        <div id="tweets">

        </div>  
    </div>

    <script>

        function displayTweets(tweetDiv){
            const listOfTweets = []
            const xhr = new XMLHttpRequest()
            const method = "GET"
            const url = "/tweets"
            const responseType = "json"

            xhr.responseType = responseType
            xhr.open(method, url)
            
            xhr.onload = () => {
                const serverResponse = xhr.response
                const tweets = serverResponse.response
                
                for (const tweet of tweets) {
                    const tweetCont = document.createElement('div')
                    tweetCont.classList.add("py-4", "border-bottom")
                    tweetCont.id = `tweet-${tweet.id}`

                    const h3Elem = document.createElement('h3')
                    h3Elem.textContent = tweet.content

                    const likeBtn = document.createElement("button")
                    likeBtn.textContent = tweet.likes + " likes"
                    likeBtn.classList.add("btn", "btn-primary")

                    tweetCont.appendChild(h3Elem)
                    tweetDiv.appendChild(tweetCont)
                    tweetCont.appendChild(likeBtn)

                    likeBtn.addEventListener("click", () => {
                        tweet.likes++
                        likeBtn.textContent = tweet.likes + " likes"
                    })
                    
                }
            }
            xhr.send()
        }

        containerOfTweets = document.querySelector("#tweets")
        displayTweets(containerOfTweets)
    </script>
{% endblock %}