{% extends "base.html" %}

{% block content %}
    <div class="container text-center mt-3" style="background: #ebf5ff;">
        <form id="tweetform" action="/create-tweet" method="POST" class="p-5 border-bottom">
            {% csrf_token %}
            <div id="createTweetError" class="d-none alert alert-danger"></div>
            <input type="hidden"  name="next" value="/" class="form-control form-control-lg bg-primary"> 
            <input type="textarea" name="content" placeholder="write your tweet here"  required="required" class="form-control form-control-lg mb-2">
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
        
        <div id="tweets">

        </div>  
    </div>

    <script>

        const containerOfTweets = document.querySelector("#tweets")
        displayTweets(containerOfTweets)

        const handleCreateTweetError = (message, display) => {
            const createTweetErrorDiv = document.querySelector("#createTweetError")
            if (display){
                createTweetErrorDiv.textContent = message
                createTweetErrorDiv.classList.replace("d-none", "d-block")
            }
            else {
                createTweetErrorDiv.classList.replace("d-block", "d-none")
            }

        }

        const handleSubmit = (event) => {
                event.preventDefault()
                const form = event.target

                const formData = new FormData(form)
                // for (const entry of formData.entries()) {
                //     console.log(entry);
                // }
                const method = form.getAttribute("method")
                const url = form.getAttribute("action") 

                const xhr = new XMLHttpRequest()
                xhr.responseType = "json"

                xhr.open(method, url)
                xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
                xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
                xhr.send(formData)
                xhr.onload = () => {
                    const serverResponse = xhr.response
                    console.log("status" + xhr.status);

                    if(xhr.status === 201){
                        const newTweet = createTweetElem(serverResponse)
                        const tweetContFirstChild = containerOfTweets.children[0]
                        containerOfTweets.insertBefore(newTweet, tweetContFirstChild)
                    }

                    else if (xhr.status === 400) {
                        const jsonError = xhr.response
                        console.log(jsonError)
                        const contentError = jsonError.content
                        let errorMsg

                        if (contentError){
                            errorMsg = contentError[0]
                            handleCreateTweetError(errorMsg, true)
                        }

                    }

                    else if (xhr.status === 403) {
                        alert("You need to log in")
                        window.location.href = "/login"

                    }

                    else if(xhr.status === 401){
                        alert("You need to log in")
                        window.location.href = "/login"

                    }
                    else {
                        alert("An error occured. please try again")
                    }

                    form.reset()
                }
            }   

        const myForm = document.querySelector("#tweetform")
        myForm.addEventListener("submit", handleSubmit)

        function displayTweets(tweetDiv){
            const listOfTweets = []
            const xhr = new XMLHttpRequest()
            const method = "GET"
            const url = "/tweets"
            const responseType = "json"

            xhr.responseType = responseType
            xhr.open(method, url)
            
            xhr.onload = () => {
                const serverResponse = xhr.response
                const tweets = serverResponse
                // const tweets = serverResponse.response
                console.log(xhr.status);
                
                if (xhr.status === 200){
                    for (const singleTweet of tweets) {
                        const newTweet = createTweetElem(singleTweet)
                        containerOfTweets.appendChild(newTweet)
                    }
                }
            }

            xhr.onerror = () => {
                alert("Sorry, a serious error occured");
            }
            xhr.send()
        }

        function createTweetElem(tweet){
            const tweetCont = document.createElement('div')
            tweetCont.classList.add("py-4", "border-bottom")
            tweetCont.id = `tweet-${tweet.id}`

            const h3Elem = document.createElement('h3')
            h3Elem.textContent = tweet.content

            const likeBtn = document.createElement("button")
            likeBtn.textContent = tweet.likes + " likes"
            likeBtn.classList.add("btn", "btn-primary")

            tweetCont.appendChild(h3Elem)
            tweetCont.appendChild(likeBtn)

            likeBtn.addEventListener("click", () => {
                tweet.likes++
                likeBtn.textContent = tweet.likes + " likes"
            })
            return tweetCont
        }
    </script>
{% endblock %}